/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
// @import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;700&display=swap");
@import "variables";

@font-face {
    font-family: 'Plex';
    font-weight: 300;
    font-display: swap;
    src: url('/fonts/plexLight.woff2') format('woff2');
}
@font-face {
    font-family: 'Plex';
    font-weight: 400;
    font-display: swap;
    src: url('/fonts/plexRegular.woff2') format('woff2');
}
@font-face {
    font-family: 'Plex';
    font-weight: 700;
    font-display: swap;
    src: url('/fonts/plexBold.woff2') format('woff2');
}

html {
    overflow-x: hidden;
    overflow-y: hidden;
}
body {
    position: relative;
    max-width: 100%;
}
body {
    min-width: 100vw;
    min-height: 100vh;
    
    background: #BFD8FF;
    filter: saturate(1.25);
    margin: 0%;
    box-sizing: border-box;
    max-height: 100vh;

    font-family: "Plex", monospace;
    font-size: get-vw(30px);
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.03em;
    text-align: left;
    color: rgba(25, 25, 25, 0.85);

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    max-width: 1245px;
    @media screen and (min-width: 1300px) {
        // margin: (2 * $unit) auto;
        font-size: min(get-vw(30px), 30px);
    }
    @media screen and (max-width: $bp) {
        font-size: max(get-vw(30px), 30px);
    }

    a.inline {
        font-weight: 700;
        color: #99c0ff;
        text-decoration: none;
        transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    a.inline:hover {
        transition: color 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        color: #66a0ff;
    }
    a {
        text-decoration: none;
        color: inherit;
    }

    b {
        font-weight: 700;
    }

    .grow {
        transform: scale(1);
        // scale: 1;
        transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .grow:hover {
        transform: scale(1.1);
        transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    .saturate {
        
    }
    .link {
        cursor: pointer;
    }

    .sticker-shadow {
            box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05);
    }
}